@charset "UTF-8";

@import url(Akrobat/stylesheet.css);
@import url(Gilroy/stylesheet.css);
@import url(Montserrat/stylesheet.css);
@import url(Poppins/stylesheet.css);
@import url(Tajawal/stylesheet.css);

@font-face {
    font-family: 'ChaletComprime-CologneSeventy';
    src: url(-SingleFontFile/Chalet\ Comprime\ Cologne\ Seventy.otf) format('opentype');
}

@font-face {
    font-family: 'Chalet1970';
    src: url(-SingleFontFile/Chalet1970.ttf) format('truetype');
}

@font-face {
    font-family: 'JustSignature';
    src: url(-SingleFontFile/JustSignature.woff) format('woff');
}

@font-face {
    font-family: 'OPTICalculator';
    src: url(-SingleFontFile/OPTICalculator.otf) format('opentype');
}

@font-face {
    font-family: 'Sign Painter';
    src: url(-SingleFontFile/SignPainter.ttf) format('truetype');
}

@font-face {
    font-family: 'Pacifico';
    src: url(-SingleFontFile/Pacifico-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Pricedown Bl';
    src: url(-SingleFontFile/PricedownBl.ttf) format('truetype');
}